<a href="https://colab.research.google.com/github/MohamamdAghaei/Acea-Smart-Water-Analytics/blob/main/Big_Data_project_Water_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
from datetime import datetime, date

In [5]:
#Reading dataset
df = pd.read_csv('/content/lakes_fe.csv')

In [6]:
#Checking shape and size of the dataset
df.shape

(6603, 5)

In [7]:
df.head()

   Date  Mean_Rainfall  Mean_Temp  Actual_Flow_Rate  Actual_Lake_Level
0     0       2.857312  14.530141          2.578255         249.606745
1     1       2.857312  14.530141          2.578255         249.606745
2     2       2.857312  14.530141          2.578255         249.606745
3     3       2.857312  14.530141          2.578255         249.606745
4     4       2.857312  14.530141          2.578255         249.606745

In [9]:
#Finfing information and simultaneously finding Null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               6603 non-null   int64
 1   Mean_Rainfall      6603 non-null   float64
 2   Mean_Temp          6603 non-null   float64
 3   Actual_Flow_Rate   6603 non-null   float64
 4   Actual_Lake_Level  6603 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 258.1 KB

In [14]:
#Cheking duplicate roes
print(df.duplicated().sum())

0

In [24]:
from datetime import datetime, date

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df.Date, format='%d/%m/%Y')

# Display the DataFrame without applying the blue background
df.head()

OutOfBoundsTimedelta: Cannot convert 946684800000000000 days to timedelta64[ns] without overflow